<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href='/css/styles.css'> 
    <title>404</title>
    <link rel="icon" href ="/img/sun.png">

</head>

<body>
    <div class = "main-content">
        {{>header}}
        {{error}}
        <img src="/img/404pic.png">
    </div>
{{>footer}}


</body>


</html>