<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href='/css/styles.css'> 
    <title>About</title>
    <link rel="icon" href ="/img/sun.png">

</head>

<body>
    <div class ="main-content">
        {{>header}}
        <p>This site was created by David Duong. It uses data from mapbox.com and darksky.net.</p>
        <p>Mapbox is used to search geographic coordinates based on the user's input in the search query.
            Darksky uses the geographic coordinates to obtain weather data based on the coordinates given.
        </p>
        <img class ="portrait" src="/img/Untitled.png">
    </div>
{{>footer}}


</body>


</html>