<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link rel="stylesheet" href='/css/styles.css'> 
    <link rel="icon" href ="/img/sun.png">
</head>

<body>
<div class = "main-content">{{>header}}
    <form>
        <input placeholder="Location">
        <button>Search</button>
    </form>
     <script src="/js/app.js"></script>

     <h3 id="message-1"></h3>
     <h3 id="message-2"></h3>
     <h3 id="message-3"></h3>
     <h3 id="message-4"></h3>
     <h3 id="message-5"></h3>
     <h3 id="message-6"></h3>
     <h3 id="message-7"></h3>

</div>

{{>footer}}

</body>


</html>